src/main/mule/bulkdownload.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">

	<vm:config name="VM_Config" doc:name="VM Config" doc:id="28ce042b-3c6a-447a-9a4b-53aedc9d2f92">
		<vm:queues >
			<vm:queue queueName="downloadQ" />
		</vm:queues>
	</vm:config>
	<flow name="Logs-Download-Main-Flow" doc:id="e9e82e3c-e7aa-4418-b011-2599bb364b70" >
		<http:listener doc:name="Listener" doc:id="6ddaf00c-8444-4edd-94f7-1fd02043015f" path="/download" config-ref="HTTP_Listener_config" />
		<ee:transform doc:name="Set StartDate,EndDate and Token" doc:id="43a48319-6381-4e3e-b03c-fe21b064cf32" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"startDate" : attributes.queryParams.startDate,
	"endDate" : attributes.queryParams.endDate,
	"token" : attributes.queryParams.token,
	"envID" : attributes.queryParams.envID,
	"appURL" : attributes.queryParams.appURL
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<vm:publish doc:name="Publish" doc:id="cca77115-daab-4050-bc58-429c1d1807df" config-ref="VM_Config" queueName="downloadQ"/>
		<logger level="INFO" doc:name="Logger" doc:id="e1e94613-385e-4e56-88ab-2ec4b4e733d3" message="#[payload]"/>
	</flow>
	<flow name="Data-Loop-Flow" doc:id="5cf54929-f84a-41b3-9b6d-87106093756b" >
		<vm:listener queueName="downloadQ" doc:name="Listener" doc:id="0d7c3d00-0be4-4d96-934f-c6a4d13011d4" config-ref="VM_Config"/>
		<set-variable value="#[payload]" doc:name="Set queuePayload" doc:id="75fb0c7f-da0e-4024-bad1-be1fc95d3920" variableName="queuePayload"/>
		<choice doc:name="Choice" doc:id="eac7ae39-bcf7-47ed-91cf-9dd4404062a6" >
			<when expression="#[vars.queuePayload.startDate &lt;= vars.queuePayload.endDate]">
				<async doc:name="Async" doc:id="65dec929-d209-48bf-b13c-ba9b15f1152f" >
					<flow-ref doc:name="Flow Reference to Download-Log-File-Flow" doc:id="54f0d9d3-8540-4574-b3a0-c317c4e5c039" name="Download-Log-File-Flow"/>
				</async>
				<ee:transform doc:name="update Queue Payload" doc:id="cab55665-dd04-4c49-afba-de104562a679">
					<ee:message>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="queuePayload"><![CDATA[%dw 2.0
import * from dw::util::Values
import * from dw::Runtime
output application/java
---
(vars.queuePayload update 'startDate' with (vars.queuePayload.startDate + |P1D|)) wait 60000]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<vm:publish queueName="downloadQ" doc:name="Publish" doc:id="20d0e6c2-23b9-400a-a7ed-8281637afc4a" config-ref="VM_Config">
					<vm:content ><![CDATA[#[vars.queuePayload]]]></vm:content>
				</vm:publish>
				<logger level="INFO" doc:name="Logger" doc:id="43100cbc-3b8d-4d0d-ba2b-3aea97715bc9" />
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="61a8e77a-82a8-4943-b39a-e7e15e5c9cab" message="All Log Files downlaoded"/>
			</otherwise>
		</choice>
	</flow>
	<sub-flow name="Download-Log-File-Flow" doc:id="5df67d08-213c-4905-823c-79f3f395e161" >
		<logger level="INFO" doc:name="START" doc:id="05ca8b1a-8140-4984-ae4d-7875d9d5d397" message="Start Raw Data Download"/>
		<flow-ref doc:name="getDateQueryParameters" doc:id="e037c8f0-8950-40fe-86d2-1d0de2b5ad22" name="getDateQueryParameters"/>
		<flow-ref doc:name="getEnvIdAndAppURL" doc:id="41b8f939-20e4-4bf4-ae17-f1f340975e15" name="getEnvIdAndAppURL"/>
		<ee:transform doc:name="Request Payload" doc:id="9dba73f2-03f3-4e7c-87d1-04a4233c3556" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="requestPayload" ><![CDATA[output application/java
---
{
	'environment' : vars.envID,
	'day' : vars.day,
	'year' : vars.year,
	'month' : vars.month,
	'app' : vars.appURL
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<http:request method="GET" doc:name="Obtain raw log file list" doc:id="a010dd90-1141-45a9-9b4b-43a3925fcd0a" config-ref="HTTP_Request_configuration" path="/monitoring/api/logs/files">
			<http:headers ><![CDATA[#[output application/json
---
{
	"Authorization" : "Bearer " ++ vars.token
}]]]></http:headers>
			<http:query-params ><![CDATA[#[vars.requestPayload]]]></http:query-params>
		</http:request>
		<set-variable value="#[%dw 2.0
output text/plain
---
sizeOf(payload)]" doc:name="getFileNumber" doc:id="726b66ae-bb6a-4e0a-a50b-70c08344fb91" variableName="fileNumber"/>
		<flow-ref doc:name="createDownloadDirectory" doc:id="0240cd3a-e6aa-444b-bb9a-819a1fafcd3c" name="createDownloadDirectory"/>
		<flow-ref doc:name="downloadLogs" doc:id="e41efe14-41f3-4c2d-b461-f44568fb5dde" name="downloadLogs"/>
		<logger level="INFO" doc:name="END" doc:id="0ab4b497-eac3-4e7b-9980-b0ed4115f731" message="End Raw Data Download"/>
	</sub-flow>
	<sub-flow name="downloadLogs" doc:id="fbf5db67-04f4-4e42-bf82-0fa42840064e" >
		<foreach doc:name="For Each" doc:id="e7defd5f-b81f-4b46-86e6-aadde6a92c4e">
			<set-variable value="#[payload.fileName]" doc:name="Set fileName" doc:id="977979de-fa0b-47c8-8116-ad0ab49d86e7" variableName="fileName" />
			<http:request method="GET" doc:name="Request" doc:id="e65c4403-a7a1-4d43-b7a3-5c8c455c8202" url='#["https://anypoint.mulesoft.com/monitoring/api/logs/files/key/" ++ payload.fileKey]' outputMimeType="text/plain">
				<http:headers><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer " ++ vars.token
}]]]></http:headers>
			</http:request>
			<ee:transform doc:name="Transform Message" doc:id="da57c9e6-75c1-49fc-b480-7631fa73c0d6" >
				<ee:message >
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="fileFullPath" ><![CDATA[%dw 2.0
output application/java
---
(p('logs.downloadFolder') ) ++  vars.queuePayload.startDate ++ "/" ++ vars.fileName

//(p('logs.downloadFolder') ) ++  (2023-08-12) as Date ++ "/" ++ vars.fileName]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<file:write doc:name="Write" doc:id="6dec24a6-ae0d-4753-b286-b61530fb7d8f" path="#[vars.fileFullPath]" >
				<file:content ><![CDATA[#[write(payload, "text/plain")]]]></file:content>
			</file:write>
		</foreach>
	</sub-flow>
	<sub-flow name="createDownloadDirectory" doc:id="2582b6d7-b21e-4d7d-8d66-35ef13f442c6" >
		<set-variable value="#[%dw 2.0&#10;import java!java::io::File&#10;output text/plain&#10;---&#10;p('logs.downloadFolder') ++ vars.queuePayload.startDate]" doc:name="prepareDownloadDirectory" doc:id="9831c57e-1845-4087-a1b2-7456b45c8445" variableName="downloadDir" />
		<try doc:name="Try" doc:id="c1318261-e88e-4f12-9dea-d02c71604ddb" >
			<file:create-directory doc:name="Create directory" doc:id="aa65d41a-31bb-4339-9a3c-e5fcfe6284c8" directoryPath="#[vars.downloadDir]" />
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="e37cc992-8af1-4238-a029-6e9f45024ff1" >
					<logger level="INFO" doc:name="Logger" doc:id="05deaf0a-eff1-47fe-a186-fa268d803914" message="Folder Already Exists"/>
				</on-error-continue>
			</error-handler>
		</try>
	
</sub-flow>
	<sub-flow name="getEnvIdAndAppURL" doc:id="b7688940-c16f-4bbf-b896-defaf598c06d" >
		<set-variable value='#[vars.queuePayload.envID]' doc:name="Set Environtment ID" doc:id="dba48d1c-3731-4c7f-a2d0-86c5811dbdd3" variableName="envID"/>
		<set-variable value='#[vars.queuePayload.appURL]' doc:name="Set Application URL" doc:id="86b1666b-2e3b-46c2-b880-6a784b5511f7" variableName="appURL"/>
	</sub-flow>
	<sub-flow name="getDateQueryParameters" doc:id="422cb37d-2398-4c04-ba6f-14b78eac8c12" >
		<set-variable value='#[(vars.queuePayload.startDate as Date).year]' doc:name="set year" doc:id="a78e4e68-8a86-457a-aeb7-2fcad174753c" variableName="year" />
		<set-variable value='#[(vars.queuePayload.startDate as Date).month as String {format : "00"}]' doc:name="set month" doc:id="fcddc709-c5aa-406c-bcac-63db9f9281d7" variableName="month" />
		<set-variable value='#[(vars.queuePayload.startDate as Date).day as String {format : "00"}]' doc:name="set day" doc:id="b435d0d2-6b33-4ed5-b9c1-8c698a9d7980" variableName="day" />
		<set-variable value='#[vars.queuePayload.token]' doc:name="set Token" doc:id="79607cd8-f28c-40eb-8615-b8d18b396497" variableName="token" />
	</sub-flow>
</mule>
